<%- include('../../includes/head.ejs') %>
<style>
  body {
    background-color: #f9f7f4;
  }
</style>
</head>

<%- include('../../includes/adminNav.ejs') %>
<% // begin varaiable
let classroom = data.classroom; 
accounts = classroom.accounts; %>
<main>
  <div class="container">
    <br>
    <br>
    <div>
      <h1 class="display-4">
        <%= classroom.name %>
      </h1>
    </div>
    <br>

    <div>
      <a class="btn btn-dark" href="/admin/classroom/add_account?classroomId=<%= classroom.id %>">
        <i class="bi bi-plus"></i>
        Add Account
      </a>
    </div>
    <br>

    <table class="table table-hover">
      <thead class="thead" style="background-color: #acb2c7">
        <!-- column -->
        <tr>
          <%- include('../partials/table-basic_column-account.ejs') %>

          <th scope="col">&nbsp;</th>

          <th scope="col">&nbsp;</th>
        </tr>
      </thead>

      <tbody>
        <% no = 1; %>
        <% for(account of accounts) { 
          info = account.info_account; %>

        <tr>
          <%- include('../partials/table-basic_row-account.ejs') %>

          <td>
            <a class="btn btn-outline-info" href="/admin/account/show?accountId=<%= account.id %>">
              Details
            </a>
          </td>

          <td>
            <form action="/admin/classroom/delete_student" method="post">
              <input type="hidden" name="accountId" value="<%= account.id ? account.id : '' %>">

              <input type="hidden" name="classroomId" value="<%= classroom.id ? classroom.id : '' %>">

              <button class="btn btn-outline-danger" type="submit">
                Remove
              </button>
            </form>
          </td>
        </tr>
        <% no++; %>
        <% } %>
      </tbody>
    </table>
    <br>

    <a type="button" href="/admin/classroom" class="btn btn-info">
      <i class="bi bi-arrow-left"></i>
      Back to Classroom Index
    </a>
  </div>

</main>
<%- include('../../includes/end.ejs') %>