<%- include('../../includes/head.ejs') %>
<style>
  body {
    background-color: #f9f7f4;
  }
</style>
</head>

<%- include('../../includes/adminNav.ejs') %>
<% // begin varaiable
let admins = data.admins;

convertDateTimeToString = function(value) {
  dateTime = new Date(value);

  return dateTime.toString();
}

dateTimeFormat = function(value) {
  dateTime = new Date(value);
  
  stringFormat = "";

  stringFormat += dateTime.getDate().toString() + "/";
  stringFormat += dateTime.getMonth().toString() + "/";
  stringFormat += dateTime.getFullYear().toString() + " ";
  stringFormat += dateTime.getHours().toString() + ":";
  stringFormat += dateTime.getMinutes().toString() + ":";
  stringFormat += dateTime.getSeconds().toString();

  return stringFormat;
}
%>
<main>
  <div class="container">
    <br>
    <br>
    <div>
      <h1 class="display-4">
        User Accounts
      </h1>
    </div>
    <br>

    <!-- <div>
      <a class="btn btn-dark" href="/account/user/add">
        <i class="bi bi-plus"></i>
        Add
      </a>
    </div>
    <br> -->

    <%- include('../../includes/success_message.ejs') %>
    <table class="table table-hover">
      <thead class="thead" style="background-color: #acb2c7">
        <!-- column -->
        <tr>
          <th scope="col">No.</th>

          <th scope="col">Username</th>

          <th scope="col">Status</th>

          <th scope="col">Recent Edit</th>

          <th scope="col">&nbsp;</th>

          <th scope="col">&nbsp;</th>

          <th scope="col">&nbsp;</th>
        </tr>
      </thead>

      <tbody>
        <% no = 1; %>
        <% for(admin of admins) {  %>

        <tr>
          <td><%= no %></td>

          <td>
            <div>
              <%= admin && admin.username ? admin.username : 'No Information' %>
            </div>
          </td>

          <td>
            <% switch(admin.status) { 
              case 1: %>
            <span class="text-success">Activate</span>
            <% break;
              default: %>
            <span class="text-danger">Deactivate</span>
            <% break;
            } %>
          </td>

          <td>
            <%= admin && admin.updatedAt ? convertDateTimeToString(admin.updatedAt) : 'No activity' %>
          </td>

          <td>
            <form action="/account/users/activate?adminId=<%= admin.id %>" method="post">
              <button class="btn btn-outline-success" type="submit">
                Activate
              </button>
            </form>
          </td>

          <td>
            <form action="/account/users/deactivate?adminId=<%= admin.id %>" method="post">
              <button class="btn btn-outline-danger" type="submit">
                Deactivate
              </button>
            </form>
          </td>
        </tr>

        <% no++; %>
        <% } %>

      </tbody>
    </table>
    <br>
  </div>
</main>
<%- include('../../includes/end.ejs') %>